<form type="hidden" name="_method" value="PATCH">
  <p>New Title: <input type="text" name="article[title]" value="<%= @article.title %>"></p>
  <p>New Content:</p>
  <textarea type="text" name="article[content]" value="<%= @article.content %>>"></textarea>
  
  <input type="submit">
</form>